ul.sidebar {
  list-style: none;
  width: 25%;
  float: left;
  background-color: #d3d3d3;
  border-radius: 5%;
  border: 2px;
  padding: 20px;
}

li,
p{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

h1,
h3 {
  font-family: 'Changa One', cursive;
  text-align: center;
}

.click:hover {
  text-decoration: underline;
}

.click1:hover {
  text-decoration: underline;
}

#about {
  font-family: 'Quicksand', sans-serif;
  float: right; 
}

#show {
  display: none;
  font-family: 'Quicksand', sans-serif;
  }

#show1 {
    display: none;
    font-family: 'Quicksand', sans-serif;
    }
